<!-- <p class="text-2xl font-bold text-cyan-950">Main Component</p>
<div class="p-[16px] border-l-[8px] border-[#ff9800] bg-gray-200 w-1/4">
    <p>
        Site under Construction
    </p>
</div> -->
<div class="flex justify-center items-center">
    <div class="shadow-md p-5 mt-2 border w-[360px]">
        <p class="text-xl font-semibold text-center">Sign In To Admin Account</p>
        <div>
            <form action="">
                <div>
                    <div class="my-[1.5rem] px-2">
                        <label class="block" for="key">Your Key</label>
                        <div class="border-b border-b-gray-400 relative">
                            <div class="absolute bottom-0 border-b-[1.5px] border-b-zinc-600 transition-[width] duration-500"
                                [ngClass]="{'w-full': focus === 'key', 'w-0': focus !== 'key'}">
                            </div>
                            <input [value]="key$ | async" (input)="updateForm($event)" (focusout)="focusOut()"
                                (focus)="focusFormKey('key')" type="text" name="key" id="key" placeholder="key-****"
                                class="py-1 w-full block focus-visible:outline-none">
                        </div>
                    </div>
                    <div class="my-[1.5rem] px-2">
                        <label class="block" for="password">Password</label>
                        <div class="border-b border-b-gray-400 relative">
                            <div class="absolute bottom-0 border-b-[1.5px] border-b-zinc-600 transition-[width] duration-500"
                                [ngClass]="{'w-full': focus === 'password', 'w-0': focus !== 'password'}">
                            </div>
                            <input [value]="password$ | async" (input)="updateForm($event)" (focusout)="focusOut()"
                                (focus)="focusFormKey('password')" type="password" name="password"
                                placeholder="Password" id="password"
                                class="py-1 w-full block focus-visible:outline-none">
                        </div>
                    </div>
                    <div class="my-[1.5rem] px-2 flex">
                        <button (click)="clearForm()"
                            class="flex self-stretch items-center w-[48px] justify-center bg-cyan-800 text-white p-3">
                            <ng-icon class="inline" name="featherRotateCcw"></ng-icon>
                        </button>
                        <button
                            class="uppercase border-0 w-full tracking-wider font-sans bg-cyan-950 text-white p-3">Sign
                            In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>